#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 > #backgroundBox {
  position: absolute;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Bg {
  position: absolute;
  width: 100.0%;
  min-height: 100.0%;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Bg {
  box-shadow: none;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Bg > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Bg .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Bg .valign {
  vertical-align: middle;
  text-align: center;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Bg span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Bg span#rtr-s-Bg_0 {
  color: #404040;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Bg_top {
  position: absolute;
  width: 100.0%;
  min-height: 89.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Bg_top {
  box-shadow: none;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Bg_top > .backgroundLayer > .colorLayer {
  background-color: #F6F7F8;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Bg_top > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Bg_top .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Bg_top .valign {
  vertical-align: middle;
  text-align: center;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Bg_top span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Bg_top span#rtr-s-Bg_top_0 {
  color: #404040;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Paragraph_16 {
  position: absolute;
  width: 133.0px;
  min-height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Paragraph_16 {
  box-shadow: none;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Paragraph_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: center;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Paragraph_16 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 13.0pt;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Image_2 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Image_2 {
  box-shadow: none;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Image_4 {
  position: absolute;
  width: 25.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Image_4 {
  box-shadow: none;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Image_13 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Image_13 {
  box-shadow: none;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Image_14 {
  position: absolute;
  width: 17.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Image_14 {
  box-shadow: none;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Text_2 {
  position: absolute;
  width: 45.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Text_2 {
  box-shadow: none;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Text_2 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Image_31 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Image_31 {
  box-shadow: none;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Bg_bottom {
  position: absolute;
  width: 100.0%;
  min-height: 84.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

_:-ms-fullscreen, :root #s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Bg_bottom {
  box-shadow: none;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Bg_bottom > .backgroundLayer > .colorLayer {
  background-color: #F6F7F8;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Bg_bottom > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Bg_bottom .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Bg_bottom .valign {
  vertical-align: middle;
  text-align: center;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Bg_bottom span {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Bg_bottom span#rtr-s-Bg_bottom_0 {
  color: #007AFF;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Bottom_Nave {
  position: absolute;
  width: 100.0%;
  height: 84.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Bottom_Nave {
  box-shadow: none;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Cell_1 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Cell_1 td.layout {
  padding: 10px 10px 10px 10px;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Cell_1 .verticalalign {
  vertical-align: top;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Cell_1 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Cell_1 {
  width: 20.0%;
  height: 100.0%;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Image_48 {
  width: 22.0px;
  height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Image_48 {
  box-shadow: none;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Label_1 {
  width: 59.0px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Label_1 {
  box-shadow: none;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Label_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Label_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Label_1 span {
  color: #007AFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Label_1 span#rtr-s-Label_1_0 {
  color: #007AFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Cell_3 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Cell_3 td.layout {
  padding: 10px 10px 10px 10px;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Cell_3 .verticalalign {
  vertical-align: top;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Cell_3 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Cell_3 {
  width: 20.0%;
  height: 100.0%;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Image_49 {
  width: 25.0px;
  height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Image_49 {
  box-shadow: none;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Label_2 {
  width: 59.0px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Label_2 {
  box-shadow: none;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Label_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Label_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Label_2 span {
  color: #8A8A8F;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Label_2 span#rtr-s-Label_2_0 {
  color: #8A8A8F;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Cell_5 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Cell_5 td.layout {
  padding: 10px 10px 10px 10px;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Cell_5 .verticalalign {
  vertical-align: top;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Cell_5 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Cell_5 {
  width: 20.0%;
  height: 100.0%;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Image_50 {
  width: 27.0px;
  height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Image_50 {
  box-shadow: none;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Label_4 {
  width: 59.0px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Label_4 {
  box-shadow: none;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Label_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Label_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Label_4 span {
  color: #8A8A8F;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Label_4 span#rtr-s-Label_4_0 {
  color: #8A8A8F;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Cell_7 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Cell_7 td.layout {
  padding: 10px 10px 10px 10px;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Cell_7 .verticalalign {
  vertical-align: top;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Cell_7 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Cell_7 {
  width: 20.0%;
  height: 100.0%;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Image_51 {
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Image_51 {
  box-shadow: none;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Label_8 {
  width: 59.0px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Label_8 {
  box-shadow: none;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Label_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Label_8 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Label_8 span {
  color: #8A8A8F;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Label_8 span#rtr-s-Label_8_0 {
  color: #8A8A8F;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Cell_9 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Cell_9 td.layout {
  padding: 10px 10px 10px 10px;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Cell_9 .verticalalign {
  vertical-align: top;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Cell_9 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Cell_9 {
  width: 20.0%;
  height: 100.0%;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Image_52 {
  width: 26.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Image_52 {
  box-shadow: none;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Label_11 {
  width: 59.0px;
  min-height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Label_11 {
  box-shadow: none;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Label_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Label_11 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Label_11 span {
  color: #8A8A8F;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Label_11 span#rtr-s-Label_11_0 {
  color: #8A8A8F;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Home_Indicator {
  position: absolute;
  width: 134.0px;
  height: 5.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  z-index: 100;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Home_Indicator {
  box-shadow: none;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Panel_1 {
  width: 265.0px;
  height: 812.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Panel_1 {
  box-shadow: none;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Panel_1 .verticalalign {
  vertical-align: top;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Modal {
  position: absolute;
  width: 263.0px;
  min-height: 100.0%;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Modal {
  box-shadow: none;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Modal > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Modal .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Modal .valign {
  vertical-align: middle;
  text-align: center;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Modal span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 #s-Modal span#rtr-s-Modal_0 {
  color: #404040;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-fc2dcb7a-db3e-41e8-8f05-e9d441c9bd39 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
